<div th:fragment = "topPart">
    <div id="top">
        <a id="home" href="/webshop"><h1>This isn't the greatest webshop... this is just a tribute.</h1></a>
        <ul>
            <li><a href="/only-available">ONLY AVAILABLE</a></li>
            <li><a href="/cheapest-first">CHEAPEST FIRST</a></li>
            <li><a href="/contains-nike">CONTAINS NIKE</a></li>
            <li><a href="/average-stock">AVERAGE STOCK</a></li>
            <li><a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a></li>
        </ul>
    </div>
    <div id="bar">
        <form action="/search-for" method="post">
            <label for="searchBar">Search for...</label>
            <input type="text" id="searchBar" placeholder="what's on your mind" name="searchBar">
            <button type="submit">Search</button>
        </form>
    </div>
</div>