<div th:fragment = "topPart">
    <div id="top">
        <div class="topText">
            <a href="/webshop"><h1>Da' Webshop</h1></a>
            <a href="/more-filters"><h1>MORE>>></h1></a>
        </div>
        <ul class="links">
            <li><a href="/only-available">ONLY AVAILABLE</a></li>
            <li><a href="/cheapest-first">CHEAPEST FIRST</a></li>
            <li><a href="/contains-nike">CONTAINS NIKE</a></li>
            <li><a href="/average-stock">AVERAGE STOCK</a></li>
            <li><a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a></li>
        </ul>
    </div>
    <div id="bar">
        <form action="/search-for" method="post">
            <label for="searchBar">Search for...</label>
            <input type="text" id="searchBar" placeholder="what's on your mind" name="searchBar">
            <button type="submit">Go</button>
        </form>
    </div>
</div>