<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit assignee</title>
</head>
<body>
<h1 th:text="'Edit '+ ${assignee.name}"></h1>
<form th:method="post" th:action="@{/todo/assignees/edit(id=${assignee.id})}">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" th:value="${assignee.name}">
    <label for="email">E-mail</label>
    <input type="text" id="email" name="email" th:value="${assignee.email}">
    <button type="submit">Edit</button>
</form>
</body>
</html>