<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/todo/search}">
<label for="title">Search in title</label>
<input type="text" id="title" name="title"/>
<button type="submit">Search</button>
</form>
<h1>Todos for today:</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
        </tr>
    </tbody>
</table>
<a href="/todo/assignees">List of Assignees</a>
</body>
</html>