<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="form-container login-container">
            <h2>Sign in</h2>
            <form th:action="@{/login}" th:method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form-container register-container">
            <h2>Creat account</h2>
            <form th:action="@{/register}" th:method="post">
                <label for="username-reg">Username</label>
                <input type="text" name="username" id="username-reg">
                <label for="password-reg">Password</label>
                <input type="password" id="password-reg" name="password">
                <button type="submit">Register</button>
            </form>
        </div>

    </div>
</body>
</html>