<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.css}" rel="stylesheet" media="screen">
    <link th:href="@{/mystyle.css}" rel="stylesheet">
    <title> Own posts</title>
</head>
<body>
<a th:href="@{'/'+${user.username}+'/trending'}">Home</a>
    <h1>Own posts</h1>
    <table>
        <tr th:each="post : ${posts}" th:object="${user}">
            <td th:text="${post.likeCounter}"></td>
            <td><a th:href="${post.URL}" th:text="${post.title}"></a></td>
            <td th:text="${post.date}"></td>
            <td><a th:href="@{edit-post(postId=${post.id})}">Edit</a></td>
            <td><a th:href="@{delete(postId=${post.id})}">Delete</a></td>
        </tr>
    </table>
    <ul th:each="pageNum : ${pageNumber}">
        <li><a th:href="@{'/'+${user.username}+'/own-posts'(page=${pageNum})}" th:text="${pageNum}"></a></li>
    </ul>
</body>
</html>