body{
    background-color: #ebebeb;
    font-family: "Arial", Serif, serif;
}
header{
    margin-left: 50px;
}

a{
    text-align: right;
    float: right;
    color: #1b1e24;
    text-decoration: none;
    padding-bottom: 40px;
    padding-right: 55px;
    width: 100%;
    font-size: 10px;
}
form{
    width: 400px;
    background-color: #ffffff;
    text-align: left;
    padding: 50px;
    margin: 150px auto;
}

label, input{
    margin-left: 50px;
}
input{
    width: auto;
}
label{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 10px;
}

button{
    display: block;
    margin-left: 50px;
    background-color: #333333;
    border-radius: 20px;
    border-style: hidden;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 15px;
}

#username{
    border: 1px solid darkgrey !important;
    box-shadow: 0 0 0px darkgrey !important;
}
#username:focus {
    border: 1px solid green !important;
    box-shadow: 0 0 1px green !important;
}

#password{
    border: 1px solid darkgrey !important;
    box-shadow: 0 0 0px darkgrey !important;
}
#password:focus {
    border: 1px solid green !important;
    box-shadow: 0 0 1px green !important;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}
button:hover{
    background-color: #3e94ec;
}
