<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick center</title>
</head>
<body>
    <div th:replace="fragments/fragments.html :: topNavLinks"></div>
    <div>
        <form th:method="post" th:action="@{/trickCenter(name=${fox.name})}">
            <label for="tricks">Tricks</label>
            <select name="trick" id="tricks">
                <option th:each="trick : ${tricksToLearn}"
                        th:value="${trick}"
                        th:text="${trick}"></option>
            </select>
            <button type="submit">Learn</button>
        </form>
    </div>
</body>
</html>